[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=grid
Exec=/usr/bin/python ~/RPiGridDraw/grid.py
Terminal=false
Categories=Application
StartupNotify=true
Icon=~/RPiGridDraw/eight.png
